@font-face {
  font-family: main;
  src: url('../fonts/avaza_mtavruli_sp.ttf');
  font-style: normal;
}

:root {
--blue:         #00ADEE;
--blue-hover:   #0095CB;
--black:        #1D1D1D;
--gray:         #5C5C5C;
--gray-light:   #6B6B6B;
--gray-lighter: #979797;
--green:        #007E35;
--red:          #DA0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: main;
}

main {
  max-width: 1680px;    
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  padding-top: 200px;
}

/* dark mode styles */
.dark-mode-btn {
position: fixed;
top: 90px;
right: 20px;
background-color: var(--blue);
color: white;
padding: 10px 14px;
border-radius: 50%;
cursor: pointer;
font-size: 18px;
z-index: 10001;
transition: background-color 0.3s ease;
}

#dark-mode-toggle:checked ~ .page-wrapper {
background-color: #121212;
color: white;
}

#dark-mode-toggle:checked ~ .page-wrapper header,
#dark-mode-toggle:checked ~ .page-wrapper .loan,
#dark-mode-toggle:checked ~ .page-wrapper .cards,
#dark-mode-toggle:checked ~ .page-wrapper .cards-wrapper,
#dark-mode-toggle:checked ~ .page-wrapper .transactions,
#dark-mode-toggle:checked ~ .page-wrapper footer,
#dark-mode-toggle:checked ~ .page-wrapper .currency-div,
#dark-mode-toggle:checked ~ .page-wrapper .flow,
#dark-mode-toggle:checked ~ .page-wrapper .mobile-bar-wrapper {
background-color: #1e1e1e;
color: #cccccc;
}

#dark-mode-toggle:checked ~ .page-wrapper a {
color: #d1d1d1;
}

#dark-mode-toggle:checked ~ .page-wrapper a:hover {
color: var(--blue);
}

#dark-mode-toggle:checked ~ .page-wrapper .money-amount span,
#dark-mode-toggle:checked ~ .page-wrapper .category p,
#dark-mode-toggle:checked ~ .page-wrapper .ang p,
#dark-mode-toggle:checked ~ .page-wrapper .date p,
#dark-mode-toggle:checked ~ .page-wrapper .flow p,
#dark-mode-toggle:checked ~ .page-wrapper .flow h6,
#dark-mode-toggle:checked ~ .page-wrapper .loan h4,
#dark-mode-toggle:checked ~ .page-wrapper .loan p,
#dark-mode-toggle:checked ~ .page-wrapper .cards h5,
#dark-mode-toggle:checked ~ .page-wrapper .cards p,
#dark-mode-toggle:checked ~ .page-wrapper .currency-div h6,
#dark-mode-toggle:checked ~ .page-wrapper .currency-div p {
color: #cccccc;
}

#dark-mode-toggle:checked ~ .page-wrapper .divider,
#dark-mode-toggle:checked ~ .page-wrapper .divider-transactions {
background-color: #333;
}

#dark-mode-toggle:checked ~ .page-wrapper .dark-mode-btn {
background-color: var(--blue-hover);
}
#dark-mode-toggle:checked ~ .page-wrapper .date span {
color: white;
}
#dark-mode-toggle:checked ~ .page-wrapper .currency-div


.page-wrapper {
min-height: 100%;
}
body {
  background-color: #f8f8f8;
  min-height: 100vh;
}

/* header styles */
header {
width: 100%;
background-color: white; 
position: fixed;
top: 0;
left: 0;
z-index: 9999; 
padding-bottom: 10px;
}

#logo {
background-color: transparent;
}
#logo:hover {
background-color: transparent;
}
.header-main {
max-width: 1600px;
margin: 0 auto;
padding: 10px 20px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
gap: 15px;
}

.header-main a {
font-size: 18px;
color: rgb(104, 99, 99);
}

.header-logo {
display: flex;
align-items: center;
gap: 5px;

}

.header-logo a {
border-radius: 10px;
cursor: pointer;
font-size: 30px;
}

.header-logo img {
width: 50px;
}

.header-right {
display: flex;
align-items: center;
gap: 20px; 
}

.header-right p {
font-size: 22px;
font-weight: 400;
}

#user {
width: 45px;
height: 45px;
border-radius: 50%;
object-fit: cover;
}

#log-out {
width: 30px;
}

.divider {
width: 100%;
height: 1px;
background-color: rgb(200, 200, 200);

}

/* second part of the header */

.header-below {
max-width: 1600px;
margin:  auto;
padding: 15px 20px;
display: flex;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
gap: 30px;
}

.options {
display: flex;
align-items: center;
flex-direction: row;
gap: 45px;
}

.options a {
text-decoration: none;
color: var(--black);
font-size: 23px;
}

.options a:hover {
color: var(--blue);
}

.icons {
display: flex;
align-items: center;
flex-direction: row;
gap: 15px;
margin-top: 10px;
}

.icons img {
width: 33px;
}


/* slider */
.slides {
align-items: center;
display: flex;
flex-direction: column;
height: 500px;
position: relative;
margin-bottom: 80px;
}
.eachSlide {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
transition: opacity 1s ease-in-out;
animation: slideAnimation 42s infinite;
margin-top: 30px;
}
.eachSlide img{
width: 100%;
height: 100%;
object-fit: cover;  
border-radius: 20px;
object-fit: cover;
display: block;
filter: brightness(0.6);
}
.caption {
position: absolute;
bottom: 30%;
left: 5%;
color: white;
}
.caption h1 {
color: white;
font-size: 50px;
margin-bottom: 70px;
width: 1000px;
}
.bttn{
font-size: 23px;
background-color: var(--blue);
border-radius: 10px;
border: none;
color: white;
padding:  20px 25px 20px 25px ;
align-items: center;
display: flex;
gap: 10px;
}
.bttn img{
filter:none;
}
.bttn:hover {
background-color: var(--blue-hover);
cursor: pointer;
}

.eachSlide:nth-child(1) {
animation-delay: 0s;
}
.eachSlide:nth-child(2) {
animation-delay: 6s;
}
.eachSlide:nth-child(3) {
animation-delay: 12s;
}
.eachSlide:nth-child(4) {
animation-delay: 18s;
}
.eachSlide:nth-child(5) {
animation-delay: 24s;
}
.eachSlide:nth-child(6) {
animation-delay: 30s;
}
.eachSlide:nth-child(7) {
animation-delay: 36s;
}

@keyframes slideAnimation {
0% {
  opacity: 0;
}
5% {
  opacity: 1;
}
20% {
  opacity: 1;
}
25% {
  opacity: 0;
}
100% {
  opacity: 0;
}
}

/* content section */

.content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 60px;
}
.left-grid {
display: flex;
flex-direction: column;
width: 100%;
max-width: 1150px;
margin: 0 auto;
}

/* loan section */
.loan {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
}
.loan img {
  width: 380px;
  height: 150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.loan-content {
  margin-left: 50px;
  margin-bottom: 50px;
}
.loan-content h4 {
  font-size: 25px;
  color: var(--black);  
  margin-bottom: 15px;
  font-weight: 400;
}
.loan-content p {
  color: var(--gray-light);

}

/* personal cards content */
.cards-wrapper {
margin-top: 60px;
display: flex;
flex-direction: column;
gap: 10px;
box-sizing: border-box;
}

.cards {
align-items: center;
display: flex;
justify-content: space-between;
background-color: white;
height: 70px;
border-radius: 20px;
gap: 180px;
padding: 0 20px;
box-sizing: border-box;
}

.cards p, .cards h5 {
font-size: 22px;
color: var(--gray);
}

.cards h5 {
font-weight: 400;
}

.each-card {
display: flex;
width: 100%;
justify-content: space-between;
flex-direction: row;
gap: 20px;
align-items: center;
}

.card-and-name {
display: flex;
align-items: center;
flex-direction: row;
gap: 20px;
}

.card-and-name img {
width: 75px;
}

.card-name {
display: flex;
flex-direction: column;
gap: 5px;
align-items: flex-start;
}

.card-name h6 {
font-size: 21px;
font-weight: 400;
}

.money {
display: flex;
align-items: center;
flex-direction: row;
gap: 8px;
margin-right: 0; 
}

.money img {
width: 12px;
}

.money span {
font-size: 22px;
}

.money p {
font-size: 17px;
margin-top: 6px;
}

.vertical-line {
width: 1px;
height: 70px;
background-color: rgb(214, 213, 213);
}

/* transactions section */

.transactions {
  background-color: white;
  margin-top: 50px;
  border-radius: 20px;
}

.transactions-header {
  align-items: center;
  display: flex;
  height: 85px;
  text-align: center;
}
.transactions-header a {
  margin-left: 40px;
  font-size: 20px;
  color: var(--gray);
}
.transactions-header a:hover {
  color: var(--blue);
}

/* each transaction  */
.all-transactions .divider {
  margin-top: 0;
}
.each-transaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
  border-top:1px solid rgb(201, 201, 201);

}
.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}
.date img {
  width: 25px;
}
.date p {
  font-size: 18px;
  color: var(--gray-lighter);
  margin-left: 20px;
}
.date span {
  margin-left: 40px;
  font-size: 18px;
  color: var(--black);
  font-weight: 400;
}
.money-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}
.money-amount span {
 font-size: 18px;
 font-weight: 600;
}
.money-amount p {
  margin-left: 7px;
  font-size: 17px;
}

/* right side of the content */

.right-grid {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

/* exchange section */

.currency-div {
width: 100%;
max-width: 440px;
height: 250px;
background-color: white;
border-radius: 20px;
padding: 20px; 
box-sizing: border-box;
display: flex;
flex-direction: column;
gap: 16px;
}

.currency-div p,
.currency-div h6 {
font-size: 22px;
color: var(--gray);
margin: 0; 
}

.currency-div h6 {
font-weight: 300;
}

.currency-div .divider {
margin-top: 8px;
}

.currency-values {
display: flex;
flex-direction: column;
gap: 12px;
flex: 1;
}

.each-currency {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.each-currency h2 {
font-size: 20px;
font-weight: bolder;
margin: 0;
}

.currency-country {
display: flex;
align-items: center;
gap: 8px; 
}

.currency-country img {
width: 30px;
height: 30px;
border-radius: 50%;
}

.currency-country p {
margin: 0;
padding-bottom: 4px;
font-size: 16px;
}

.up-and-down {
display: flex;
align-items: center;
gap: 8px;
}

.up-and-down h6 {
font-size: 16px;
margin: 0;
color: var(--green);
margin-top: 5px; 
}

#red {
color: var(--red);
}


/* circulation div */

.flow {
width: 100%;
max-width: 440px;
height: auto;
background-color: white;
border-radius: 20px;
padding: 24px;
box-sizing: border-box;
display: flex;
flex-direction: column;
gap: 24px;
}
.flow-specified {
display: flex;
flex-direction: column;
gap: 16px;
}

.flow h6,
.flow p {
font-size: 22px;
color: var(--gray);
margin: 0;
}

.flow h6 {
font-weight: 300;
}

.flow .divider {
margin: 0;
}


.circle {
display: flex;
justify-content: space-around;
align-items: center;
}


.color-wheel {
width: 150px;
height: 150px;
border-radius: 50%;
background: conic-gradient(
  #e20000 0deg 80deg,
  #fbad11 80deg 120deg,
  #fff700 120deg 150deg,
  #00b442 150deg 210deg,
  #3103e8 210deg 270deg,
  #8201d8 270deg 360deg
);
position: relative;
margin: 20px auto; 
}

.color-wheel::after {
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 50px;
height: 50px;
background-color: white;
border-radius: 50%;
transform: translate(-50%, -50%);
}

.this-month {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}

.this-month h6 {
font-size: 25px;
color: var(--gray-lighter);
margin: 0;
}

.monthly-payment {
display: flex;
align-items: center;
gap: 6px;
}

.monthly-payment span {
font-size: 30px;
color: var(--black);
}

.monthly-payment p {
font-size: 25px;
margin: 0;
}

/* Color category circles */
.colored-circle,
.red-circle,
.yellow-circle,
.green-circle,
.blue-circle,
.purple-circle {
width: 15px;
height: 15px;
border-radius: 50%;
display: inline-block;
margin-top: 15px;
}

.colored-circle { background-color: #fbad11; }
.red-circle     { background-color: #e20000; }
.yellow-circle  { background-color: #fff700; }
.green-circle   { background-color: #00b442; }
.blue-circle    { background-color: #3103e8; }
.purple-circle  { background-color: #8201d8; }


.each-flow {
display: flex;
align-items: center;
justify-content: space-between;
gap: 16px;
}
.colored-div {
display: flex;
align-items: center;
gap: 8px;
}
.amount {
display: flex;
align-items: center;
gap: 4px;
}
.amount span {
font-size: 25px;
margin: 0;
}
.amount p {
font-size: 20px;
margin: 0;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* 
mobile bar section */
.mobile-bar-wrapper {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
z-index: 999;
background-color: white;
border-top: 1px solid var(--gray-lighter);
padding: 12px 10px;
display: none; 
justify-content: space-around; 
align-items: center;
gap: 10px;
}

.mobile-bar-wrapper a {
display: flex;
align-items: center;
justify-content: center;
width: 60px;
height: 60px;
border-radius: 8px;
background-color: rgb(242, 242, 242);
}

.mobile-bar-wrapper a img {
width: 30px;
height: 30px;
margin: 0;
border-radius: 5px;
}

/* footer styles */
footer {
background-color: transparent;
color:var(--gray);
padding: 20px 10px;
text-align: center;
font-size: 14px;
}
.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 30px;
margin-right: 30px;
}
.footer-links {
display: flex;
gap: 15px;
flex-wrap: wrap;
}
.footer-links a {
color:var(--gray);
text-decoration: none;
font-weight: 300;
}
.footer-links a:hover {
color: var(--blue);
}



@media  (max-width: 1600px) {
/* header */
.header-below {
  display: none;
}
.divider {
  display: none;
}

.options,
.icons {
  display: none;
}

/* content */
.content {
  display: flex;
  flex-direction: column;

}
.right-grid {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: flex-start;     
}
.mobile-bar-wrapper {
  display: flex;
  justify-content: space-evenly; 
}
.currency-div,
.flow {
  flex: 1 1 100%; 
  height: auto;
  max-width: 100%;
}
.each-currency {
  gap: 30px;
}
  .flow {
    max-width: 500px;
    padding: 20px;
  }

  .flow h6,
  .flow p {
    font-size: 20px;
  }

  .this-month h6 {
    font-size: 22px;
  }

  .monthly-payment span {
    font-size: 28px;
  }

  .monthly-payment p {
    font-size: 22px;
  }

  .amount span {
    font-size: 22px;
  }

  .amount p {
    font-size: 18px;
  }


/* show mobile bar */
.mobile-bar-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.mobile-bar-wrapper a img {
  width: 28px;
  height: auto;
  margin: 0;
}
footer {
  margin-bottom: 80px;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
/* header styles */
.header-main,
.header-below {
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding: 0;
}
.header-logo {
  margin-top: 16px;
  flex-direction: row;
  gap: 16px;
}
.header-right {
  flex-direction: row;
  gap: 16px;
}
.options,
.icons {
  display: none;
}

/* content */
  .caption h1 {
    font-size: 36px;
    width: 90%;
  }
  .content {
    flex-direction: column;
    gap: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }
 .left-grid {
  width: 100%;
 }
 .right-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

  .loan {
    flex-direction: column;
  }

  .loan img {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
  }

  .loan-content {
    margin-left: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  /* cards */
  .cards-wrapper {
    padding: 0 16px;
  }

  .cards {
    gap: 80px;
    padding: 0 16px;
  }


  .each-card {
    gap: 16px;
  }

  .card-and-name {
    gap: 12px;
  }

  .card-and-name img {
    width: 60px;
  }

  .card-name h6 {
    font-size: 18px;
  }

  .card-name p {
    font-size: 16px;
  }

  .money {
    gap: 5px;
  }

  .money span {
    font-size: 18px;
  }

  .money p {
    font-size: 14px;
  }

  .money img {
    width: 10px;
  }

  .vertical-line {
    height: 60px;
  }

/* transactions */
  .transactions-header a {
    font-size: 16px;
    margin-left: 24px;
  }

  .currency-div,
  .flow {
    flex: 1 1 100%; 
    height: auto;
    max-width: 100%;
  }

  .currency-div {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .currency-div p,
  .currency-div h6 {
    font-size: 20px;
    margin: 0;
  }

  .each-currency {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    padding: 0;
  }

  .currency-country {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .currency-country img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .currency-country p {
    margin: 0;
    font-size: 16px;
  }

  .up-and-down {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
  }

  .up-and-down h6 {
    font-size: 16px;
    margin: 0;
    color: var(--green);
    margin-top: 5px;
  }
  .monthly-payment span,
  .monthly-payment p {
    font-size: 24px;
  }
  .flow {
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }

  .monthly-payment {
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .each-flow {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .colored-div {
    gap: 6px;
  }

  .amount {
    justify-content: flex-start;
  }

  .color-wheel {
    width: 130px;
    height: 130px;
  }

  .color-wheel::after {
    width: 45px;
    height: 45px;
  }

    /* show mobile bar */
.mobile-bar-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.mobile-bar-wrapper a {
  width: 60px;
  height: 60px;
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-bar-wrapper a img {
  width: 28px;
  height: auto;
  margin: 0;
}

/* slider */
  .slides {
    height: 500px;
  }
  footer {
    margin-bottom: 100px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer-links {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  header {
    min-height: 130px;
    padding: 10px 0 20px 0;
  }
  
  .header-main {
    margin: 0 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }

  .header-main a {
    font-size: 16px;
  }

  .header-logo {
    flex-direction: row;
    gap: 10px;
  }

  .header-logo a {
    font-size: 22px;
  }

  .header-logo img {
    width: 40px;
  }

  .header-right {
    flex-direction: row;
    gap: 10px;
  }

  .header-right p {
    font-size: 15px;
  }

  #user {
    width: 30px;
    height: 30px;
  }

  #log-out {
    width: 22px;
    margin-left: 8px;
  }

  .header-below {
    display: none; 
  }
/* 
  content resolutions */
     .content {
        flex-direction: column;
        gap: 24px;
        margin-top: 16px;
        padding: 0 16px;
        height: 100%;
      }
      
      .left-grid {
        width: 100%;
      }
      
      .loan {
        flex-direction: column;
        align-items: flex-start;
        border-radius: 16px;
        overflow: hidden;
      }
      
      .loan img {
        width: 100%;
        height: auto;
        border-radius: 16px 16px 0 0;
        margin: 0;
      }
      
      .loan-content {
        margin: 16px 0 24px 0;
      }
      
      .loan-content h4 {
        font-size: 20px;
        margin-bottom: 12px;
        margin-left: 10px;
      }
      
      .loan-content p {
        font-size: 16px;
        margin-left: 10px;
      }
      
      /* cards */
      .cards-wrapper {
        margin-top: 24px;
      }
      
      .cards {
        flex-direction: column;
        height: auto;
        padding: 16px;
        gap: 16px;
        align-items: flex-start;
        text-align: center;
      }
      
      .cards p, h5 {
        font-size: 18px;
      }
      .cards h5 {
        text-align: center;
        width: 100%;
        margin: 0 auto; 
      }

      .each-card {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        gap: 16px;
        padding-right: 0;
      }
      
      .card-and-name {
        display: flex;
        flex-direction: column;
        align-items: center;
     
      }
      
      .card-and-name img {
        width: 55px;
        margin-left: 0;
      }
      
      .card-name {
        display: flex;
        margin-left: 0;
      }
      
      .card-name h6 {
        font-size: 18px;
        margin-left: 0;
      }
      
      .money {
        flex-direction: row;
        justify-content: flex-start;
        margin-right: 0;
        gap: 10px;
        flex-wrap: wrap;
      }
      
      .money img {
        width: 10px;
      }
      
      .money span {
        font-size: 18px;
        margin-right: 4px;
      }
      
      .money p {
        font-size: 14px;
        margin-right: 0;
        margin-top: 4px;
      }
      
      .vertical-line {
        display: none;
      }
      /* transactions */
      .transactions {
        margin-top: 24px;
        border-radius: 16px;
        padding: 16px;
      }
      
      .transactions-header {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding-left: 16px;
      }
      
      .transactions-header a {
        margin-left: 0;
        font-size: 16px;
        margin-bottom: 8px;
        color: var(--gray);
      }
      
      .each-transaction {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        margin-bottom: 16px;
        padding-left: 16px;
      }
      
      .date {
        margin-left: 0;
        margin-bottom: 8px;
      }
      
      .date img {
        width: 20px;
      }
      
      .date p {
        font-size: 16px;
        margin-left: 8px;
      }
      
      .date h5 {
        margin-left: 0;
        font-size: 16px;
      }
      
      .money-amount {
        margin-right: 0;
        margin-left: 70px;
        font-size: 16px;
      }
      
      .money-amount span {
        font-size: 16px;
        margin-left: 40px;
      }
      
      .money-amount p {
        font-size: 14px;
        margin-left: 3px;
      }
      .right-grid {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: auto;
        width: 100%;
        gap: 16px; 
        align-items: center;
      }
      
      .currency-div,
      .flow {
        width: 100%;
        height: auto;
      }
      
      .currency-div {
        padding-right: 20px;
      }
  .each-currency {
    gap: 20px;
  }
      .flow {
        width: 100%;
        padding: 16px;
        border-radius: 16px;
        gap: 20px;
      }
    
      .flow h6,
      .flow p {
        font-size: 18px;
      }
    
      .this-month h6 {
        font-size: 20px;
      }
    
      .monthly-payment span {
        font-size: 24px;
      }
    
      .monthly-payment p {
        font-size: 18px;
      }
    
      .each-flow {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
      }
    
      .amount span {
        font-size: 20px;
      }
    
      .amount p {
        font-size: 16px;
      }
    
      .color-wheel {
        width: 110px;
        height: 110px;
      }
    
      .color-wheel::after {
        width: 40px;
        height: 40px;
      }
/* show mobile bar */
.mobile-bar-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.mobile-bar-wrapper a {
  width: 60px;
  height: 60px;
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-bar-wrapper a img {
  width: 28px;
  height: auto;
  margin: 0;
}

    .caption h1 {
      font-size: 28px;
      width: 100%;
      margin-bottom: 30px;
    }
    .eachSlide img {
      width: 100%;
    }
    .bttn {
      font-size: 18px;
      padding: 12px 18px;
    }
  
    .slides {
      height: 400px;
    }

    /* footer */
    footer{
      margin-bottom: 80px;
    }
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .footer-links a {
    font-size: 13px;
  }
  .dark-mode-btn {
    top: 40px;
  }
  }


  